<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Torn Helper</title>
        <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <link rel="stylesheet" href="static/output.css">
    </head>
    <body>
        <div class="flex justify-center">




            <div >
                <table class="bg-slate-100 rounded-md p-4 flex justify-center">
                    <tbody class="[&>*:nth-child(odd)]:bg-slate-200 [&>*:nth-child(even)]:bg-slate-300">
                        <tr class="rounded-t-lg bg-slate-100">
                            <th>Name</th>
                            <th>Level</th>
                            <th>Battle Stats</th>
                            <th>Last Status</th>
                            <th>Last Seen</th>
                            <th>Currently</th>
                        </tr>

                        <tr hx-get="/memberlist" hx-trigger="load" hx-swap="outerHTML"></tr>

                    </tbody>
                </table>
            </div>











        </div>














    </body>
</html>