<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Torn Helper</title>
        <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <link rel="stylesheet" href="static/output.css">
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    </head>
    <body>
        <div class="flex flex-col lg:justify-center">
            <div class="flex justify-center"><p>Torn caches api calls for ~30 seconds. So that's about how old the data below might be.</p></div>
            <div x-ref="mytable" x-init="battlestats_map = new Map();" class="" hx-get="/memberlist?sortby={{.sortBy}}&sortdirection={{.sortDirection}}" hx-trigger="load, every 3s" hx-swap="innerHTML"></div>
        </div>
        <svg hidden style="display: none" class="my-icon my-icon-lock" aria-hidden="true" focusable="false" width="24px" height="24px" viewBox="0 0 24 24">
            <symbol id="attack_icon">
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 7.9375 11.96875 C 7.546875 11.578125 6.914062 11.578125 6.523438 11.96875 C 6.128906 12.359375 6.128906 12.992188 6.519531 13.382812 L 6.894531 13.757812 L 3.300781 17.351562 C 2.898438 17.75 2.898438 18.398438 3.300781 18.796875 L 5.199219 20.699219 C 5.601562 21.097656 6.25 21.097656 6.648438 20.699219 L 10.242188 17.105469 L 10.613281 17.476562 C 11.003906 17.867188 11.636719 17.867188 12.027344 17.476562 C 12.417969 17.085938 12.417969 16.453125 12.027344 16.0625 Z M 7.9375 11.96875 "/>
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 14.300781 3 L 9.015625 10.929688 L 13.070312 14.984375 L 21 9.699219 L 21 3 Z M 14.300781 3 "/>
            </symbol>
        </svg>
    </body>
</html>