<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Torn Helper</title>
        <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <link rel="stylesheet" href="static/output.css">
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    </head>
    <body>
        
        <div class="overflow-x-autoflex flex-col lg:justify-center">
            <div class="flex justify-center"><p>Torn caches api calls for ~30 seconds. So that's about how old the data below might be.</p></div>
            <div class="flex justify-center">
                <form action="/" method="GET">
                    <div class="flex-col p-2">
                        <div>
                            <label>Sort By:</label>
                            <select  name="sortby" onchange="this.form.submit()">
                                <option {{ if eq .sortBy "Status" }} selected {{ end }}value="Status">Current Status</option>
                                <option {{ if eq .sortBy "Name" }} selected {{ end }} value="Name">Name</option>
                                <option {{ if eq .sortBy "Level" }} selected {{ end }}value="Level">Level</option>
                                <option {{ if eq .sortBy "BattleStats" }} selected {{ end }}value="BattleStats">BattleStats</option>
                                <option {{ if eq .sortBy "LastStatus" }} selected {{ end }}value="LastStatus">Online Status</option>
                            </select>
                            <select  name="sortdirection" onchange="this.form.submit()">
                                <option {{ if eq .sortDirection "asc" }} selected {{ end }} value="asc">&uarr;</option>
                                <option {{ if eq .sortDirection "dsc" }} selected {{ end }} value="dsc">&darr;</option>
                            </select>
                        </div>
                        <div>
                            <label>Filter By:</label>
                            <select  name="filterby" onchange="this.form.submit()">
                                <option {{ if eq .filterBy "" }} selected {{ end }}value="">All</option>
                                <option {{ if eq .filterBy "Mexico" }} selected {{ end }} value="Mexico">Mexico</option>
                                <option {{ if eq .filterBy "CaymanIslands" }} selected {{ end }}value="CaymanIslands">Cayman Islands</option>
                                <option {{ if eq .filterBy "Canada" }} selected {{ end }}value="Canada">Canada</option>
                                <option {{ if eq .filterBy "Hawaii" }} selected {{ end }}value="Hawaii">Hawaii</option>
                                <option {{ if eq .filterBy "UnitedKingdom" }} selected {{ end }}value="UnitedKingdom">United Kingdom</option>
                                <option {{ if eq .filterBy "Argentina" }} selected {{ end }}value="Argentina">Argentina</option>
                                <option {{ if eq .filterBy "Switzerland" }} selected {{ end }}value="Switzerland">Switzerland</option>
                                <option {{ if eq .filterBy "Japan" }} selected {{ end }}value="Japan">Japan</option>
                                <option {{ if eq .filterBy "China" }} selected {{ end }}value="China">China</option>
                                <option {{ if eq .filterBy "UAE" }} selected {{ end }}value="UAE">UAE</option>
                                <option {{ if eq .filterBy "SouthAfrica" }} selected {{ end }}value="SouthAfrica">South Africa</option>
                            </select>
                        </div>
                    </div>  
                </form>
            </div>

            <div x-ref="mytable" x-init="battlestats_map = new Map();" class="" hx-get="/memberlist?filterby={{.filterBy}}&sortby={{.sortBy}}&sortdirection={{.sortDirection}}" hx-trigger="load, every 3s" hx-swap="innerHTML"></div>
        </div>
        <svg hidden style="display: none" class="my-icon my-icon-lock" aria-hidden="true" focusable="false" width="24px" height="24px" viewBox="0 0 24 24">
            <symbol id="attack_icon">
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 7.9375 11.96875 C 7.546875 11.578125 6.914062 11.578125 6.523438 11.96875 C 6.128906 12.359375 6.128906 12.992188 6.519531 13.382812 L 6.894531 13.757812 L 3.300781 17.351562 C 2.898438 17.75 2.898438 18.398438 3.300781 18.796875 L 5.199219 20.699219 C 5.601562 21.097656 6.25 21.097656 6.648438 20.699219 L 10.242188 17.105469 L 10.613281 17.476562 C 11.003906 17.867188 11.636719 17.867188 12.027344 17.476562 C 12.417969 17.085938 12.417969 16.453125 12.027344 16.0625 Z M 7.9375 11.96875 "/>
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 14.300781 3 L 9.015625 10.929688 L 13.070312 14.984375 L 21 9.699219 L 21 3 Z M 14.300781 3 "/>
            </symbol>
        </svg>
    </body>
</html>