<table class="bg-slate-100 rounded-md p-4 flex justify-center"><tbody class="[&>*:nth-child(odd)]:bg-slate-200 [&>*:nth-child(even)]:bg-slate-300">
<tr class="rounded-t-lg bg-slate-100">
    {{ if eq .sortBy "Name" }}
        {{ if eq .sortDirection "asc" }}<th><a href="/?sortby=Name&sortdirection=dsc">Name&darr;</a></th>
        {{ else }}<th><a href="/?sortby=Name&sortdirection=asc">Name&uarr;</a></th>
        {{ end }}
    {{ else }}<th><a href="/?sortby=Name&sortdirection=asc">Name&uarr;&darr;</a></th>
    {{ end }}
    {{ if eq .sortBy "Level" }}
        {{ if eq .sortDirection "asc" }}<th><a href="/?sortby=Level&sortdirection=dsc">Level&darr;</a></th>
        {{ else }}<th><a href="/?sortby=Level&sortdirection=asc">Level&uarr;</a></th>
        {{ end }}
    {{ else }}<th><a href="/?sortby=Level&sortdirection=dsc">Level&uarr;&darr;</a></th>
    {{ end }}
    {{ if eq .sortBy "BattleStats" }}
        {{ if eq .sortDirection "asc" }}<th><a href="/?sortby=BattleStats&sortdirection=dsc">Battle Stats&darr;</a></th>
        {{ else }}<th><a href="/?sortby=BattleStats&sortdirection=asc">Battle Stats&uarr;</a></th>
        {{ end }}
    {{ else }}<th><a href="/?sortby=BattleStats&sortdirection=dsc">Battle Stats&uarr;&darr;</a></th>
    {{ end }}
    {{ if eq .sortBy "LastStatus" }}
        {{ if eq .sortDirection "asc" }}<th><a href="/?sortby=LastStatus&sortdirection=dsc">Last Status&darr;</a></th>
        {{ else }}<th><a href="/?sortby=LastStatus&sortdirection=asc">Last Status&uarr;</a></th>
        {{ end }}
    {{ else }}<th><a href="/?sortby=LastStatus&sortdirection=dsc">Last Status&uarr;&darr;</a></th>
    {{ end }}
    <th>Last Seen</th>
    {{ if eq .sortBy "Status" }}
        {{ if eq .sortDirection "asc" }}<th><a href="/?sortby=Status&sortdirection=dsc">Currently&darr;</a></th>
        {{ else }}<th><a href="/?sortby=Status&sortdirection=asc">Currently&uarr;</a></th>
        {{ end }}
    {{ else }}<th><a href="/?sortby=Status&sortdirection=dsc">Currently&uarr;&darr;</a></th>
    {{ end }}
</tr>
{{ range .members }}<tr class="flex-row">
    <td><div class="grid place-items-left px-2"><div >{{.Name}}</div></div></td>
    <td><div class="grid place-items-center px-2"><div >{{.Level}}</div></div></td>
    <td><div class="grid place-items-center px-2 hover:underline" 
                x-on:click="if(battlestats_map.has({{.UserId}})){battlestats_map.set({{.UserId}},!battlestats_map.get({{.UserId}}))}else{battlestats_map.set({{.UserId}},true)};console.log('clicked{{.UserId}}')" >
        <div >{{.BattleStats}}</div>
        <div x-transition x-show="battlestats_map.get({{.UserId}})" class="no-underline flex flex-col">
            <div>STR: {{.BattleStats_Str}}</div><div>DEF: {{.BattleStats_Def}}</div><div>SPD: {{.BattleStats_Spd}}</div><div>DEX: {{.BattleStats_Dex}}</div></div></div></td><td><div class="grid px-2"><div class="font-medium rounded-md {{ if eq .LastStatus "Online"}} bg-green-100 text-green-600 dark:text-green-500{{ else if eq .LastStatus "Idle" }} bg-orange-100 text-orange-600 dark:text-orange-500 {{ else if eq .LastStatus "Offline" }} bg-red-100 text-red-600 dark:text-red-500 {{ end }} hover:underline text-center">{{.LastStatus}}</div></div></td><td><div class="grid place-items-left px-2"><div >{{.LastSeen}}</div></div></td>

<td><div class="flex justify-end px-2"><div class="flex flex-row">
    {{ if eq .Status "Okay"}}<a class="inline-flex px-2 hover:underline text-red-600 dark:text-red-500" href="https://www.torn.com/loader.php?sid=attack&user2ID={{.UserId}}" target="_blank">Attack</a>  <div class="inline-flex px-2 font-medium text-green-600 dark:text-green-500 pr-10">{{ end }}{{.Status}}</div></div></div></td>
</tr>{{ end }}
</tbody></table>